<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Load test counters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
</head>
<body>
    <!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
    <div class="container text-left">
        <h2 th:text="'Load test ' + ${testRunId} + ' / ' + ${loadTestName}"> </h2>
        <h2> Server side counters </h2>
        <table class="table table-striped ">
            <tr>
                <th class="col-md-6" > Counter </th>
                <th class="col-md-6" > Average value </th>
            </tr>
            <tr th:each="element : ${serverSideCounters}">
                <td class="col-md-6" th:text="${element.key}"></td>
                <td class="col-md-6" th:text="${element.value}"></td>
            </tr>

        </table>

        <h2> Client side counters </h2>
        <table class="table table-striped">
            <tr>
                <th> Counter </th>
                <th> Value </th>
            </tr>
            <tr th:each="element : ${clientSideCounters}">
                <td class="col-md-6" th:text="${element.key}"></td>
                <td class="col-md-6" th:text="${element.value}"></td>
            </tr>

        </table>


    </div>

</body>
</html>
